/*    ==Scripting Parameters==
	DEV MASTER
	TEMA: PRIMER EXAMEN
    DOCENTE: HERVEY QUIÑONES
*/

USE [BD_DV_MUNDIALITO]
GO
/****** Object:  Table [dbo].[TB_AGRUPADO_EQUIPO]    Script Date: 23/06/2018 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_AGRUPADO_EQUIPO](
	[IDGRUPO] [int] NOT NULL,
	[IDEQUIPO] [int] NOT NULL,
 CONSTRAINT [PK_TB_AGRUPADO_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC,
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EQUIPO]    Script Date: 23/06/2018 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EQUIPO](
	[IDEQUIPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EQUIPO] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_TB_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FIXTURE]    Script Date: 23/06/2018 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FIXTURE](
	[IDFIXTURE] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[IDSEDE] [int] NULL,
	[IDEQUIPOA] [int] NOT NULL,
	[SCOREA] [int] NULL,
	[IDEQUIPOB] [int] NOT NULL,
	[SCOREB] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NOMBRE_GRUPO]    Script Date: 23/06/2018 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NOMBRE_GRUPO](
	[IDGRUPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_GRUPO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_NOMBRE_GRUPO] PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_SEDE]    Script Date: 23/06/2018 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SEDE](
	[IDSEDE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SEDE] [varchar](50) NULL,
 CONSTRAINT [PK_TB_SEDE] PRIMARY KEY CLUSTERED 
(
	[IDSEDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_AGRUPADO_EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK_TB_AGRUPADO_EQUIPO_TB_EQUIPO] FOREIGN KEY([IDEQUIPO])
REFERENCES [dbo].[TB_EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[TB_AGRUPADO_EQUIPO] CHECK CONSTRAINT [FK_TB_AGRUPADO_EQUIPO_TB_EQUIPO]
GO
ALTER TABLE [dbo].[TB_AGRUPADO_EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK_TB_AGRUPADO_EQUIPO_TB_NOMBRE_GRUPO] FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[TB_NOMBRE_GRUPO] ([IDGRUPO])
GO
ALTER TABLE [dbo].[TB_AGRUPADO_EQUIPO] CHECK CONSTRAINT [FK_TB_AGRUPADO_EQUIPO_TB_NOMBRE_GRUPO]
GO
ALTER TABLE [dbo].[TB_FIXTURE]  WITH CHECK ADD  CONSTRAINT [FK_TB_FIXTURE_TB_EQUIPO] FOREIGN KEY([IDEQUIPOA])
REFERENCES [dbo].[TB_EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[TB_FIXTURE] CHECK CONSTRAINT [FK_TB_FIXTURE_TB_EQUIPO]
GO
ALTER TABLE [dbo].[TB_FIXTURE]  WITH CHECK ADD  CONSTRAINT [FK_TB_FIXTURE_TB_EQUIPO1] FOREIGN KEY([IDEQUIPOB])
REFERENCES [dbo].[TB_EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[TB_FIXTURE] CHECK CONSTRAINT [FK_TB_FIXTURE_TB_EQUIPO1]
GO
ALTER TABLE [dbo].[TB_FIXTURE]  WITH CHECK ADD  CONSTRAINT [FK_TB_FIXTURE_TB_SEDE] FOREIGN KEY([IDSEDE])
REFERENCES [dbo].[TB_SEDE] ([IDSEDE])
GO
ALTER TABLE [dbo].[TB_FIXTURE] CHECK CONSTRAINT [FK_TB_FIXTURE_TB_SEDE]
GO
